
@model List<TableHtml.Models.prestamoes>

@{
    ViewBag.Title = "Home Page";
}

<h3> Lista de prestamos </h3>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th> Id </th>
            <th> Amount </th>
            <th>Percentage </th>
            <th> Fecha del Prestamo </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Amount</td>
                <td>@item.Percentage</td>
                <td>@item.FechadelPrestamo</td>
            </tr>
        }
    </tbody>
</table>